In [2]:
#pip install ipykernel

In [3]:
pip install pyspark

Collecting pyspark
  Using cached pyspark-3.2.4.tar.gz (281.5 MB)
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.2.4-py2.py3-none-any.whl size=282040934 sha256=6073aa674c89549d5fa4d340ff8195f49b94a07dbbd0db01bc03d55e5028f219
  Stored in directory: c:\users\shankii\appdata\local\pip\cache\wheels\7f\b5\ab\6fbc298426a10c8a27065ed80da7241e60146d770f41c80b4d
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.2.4
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pyspark

In [5]:
import pandas as pd
pd.read_csv("test1.csv")

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [6]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName("Practise1").getOrCreate()

In [10]:
spark

In [11]:
df_pyspark = spark.read.csv('test1.csv')
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [12]:
df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [13]:
df_pyspark=spark.read.option('header','true').csv('test1.csv')
df_pyspark.show()
## first row value will be considered as your header that is col_names

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.head(3)

[Row(Name='Krish', age='31', Experience='10', Salary='30000'),
 Row(Name='Sudhanshu', age='30', Experience='8', Salary='25000'),
 Row(Name='Sunny', age='29', Experience='4', Salary='20000')]

In [16]:
df_pyspark.printSchema()   

## same as df.info()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)